/*Couverture*/
.couv {
    width: 100%;
    height: 300px;
    background-image: url("../couvAccueil/suivi-client-qualite.jpg");
    background-size: cover;
}
.couv div {
    padding-top: 150px;
}
.couv p {
    font-size: 50px;
    padding: 50px;
    width: 60%;
}
.couv a {
    border: 1px solid #6195FF;
    background-color: #6195FF;
    color: #FFF;
    padding: 15px 40px;
    margin-left: 50px;
}