li {
    color: #006bbd;
}
hr {
    margin: 10px 0!important;
}
lightning-accordion-section h6 {
    font-size: small;
    color: #006bbd;
}
lightning-accordion-section p {
    font-size: small;
}
h3 {
    margin-bottom: 15px;
}