.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.card .img {
  height: 250px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card {
  max-width: 33%;
  box-sizing: border-box;
}

.card .text {
  border: 1px solid #e6e6e6;
  border-top: 1px solid transparent;
  background: #fff;
  position: relative;
  text-align: center !important;
  padding: 1rem !important;
}

.title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.price-per {
  margin-bottom: 1.5rem;
}

.per {
  color: #b3b3b3;
}

.price {
  font-size: 26px;
  margin-right: 0.5rem;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.details {
  margin-top: 1.5rem;
}
